[Desktop Entry]
Version=1.0
Type=Application
Name=Pasar a Consola Pura
Comment=Apaga el entorno gráfico para liberar RAM y trabajar en la terminal
Exec=bash -c 'DISPLAY=:0 notify-send "Armbian TV3S" "🛑 Apagando XFCE + Openbox... Liberando memoria RAM."; sleep 2; sudo systemctl isolate multi-user.target && clear && echo -e "\n\e[1;32m✅ Conexión a terminal lograda. Entorno gráfico apagado con éxito.\e[0m\n"'
Icon=utilities-terminal
Terminal=true
Categories=System;Settings;
StartupNotify=false
