[Desktop Entry]
Version=1.0
Type=Application
Name=Pasar a Consola Pura
Comment=Apaga el entorno gráfico para liberar RAM y trabajar en la terminal
Exec=bash -c 'sudo systemctl isolate multi-user.target'
Icon=utilities-terminal
Terminal=true
Categories=System;Settings;
StartupNotify=false
